.bg-primary{
    background-color: rgb(3, 3, 26);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.ReactModal__Content{
    inset: 0;
    position: absolute;
    left: 10%;
    top: 10%;
    width: max(251px,30vw);
    height: 500px
}